<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">使用者修改</h1>
    </div>  
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <form role="form" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">login</label>
                                <div class="col-sm-10">
                                <input class="form-control" placeholder="Enter text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">姓名</label>
                                <div class="col-sm-10">
                                <input class="form-control" placeholder="Enter text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">密碼</label>
                                <div class="col-sm-10">
                                <input type="password" class="form-control" placeholder="Enter password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">角色</label>
                                <div class="col-sm-10">
                                <select class="form-control">
                                    <option>系統管理員</option>
                                    <option>一般管理員</option>
                                </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">分會</label>
                                <div class="col-sm-10">
                                <select class="form-control">
                                    <option>總會</option>
                                    <option>L.A. Branch</option>
                                </select>
                                </div>
                            </div>
                            <button type="reset" class="btn btn-default">Reset</button>
                            <button type="submit"  ui-sref="dashboard.user" class="btn btn-primary">修改</button>
                        </form>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
